<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet_Test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SLC</servlet-name>
    <servlet-class>ServletLifeCircle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SLC</servlet-name>
    <url-pattern>/slc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestParameters</servlet-name>
    <servlet-class>TestParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestParameters</servlet-name>
    <url-pattern>/servlet/TestParameters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowParameters</servlet-name>
    <servlet-class>ShowParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowParameters</servlet-name>
    <url-pattern>/servlet/ShowParameters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowParameters_getParameterMap</servlet-name>
    <servlet-class>ShowParameters_getParameterMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowParameters_getParameterMap</servlet-name>
    <url-pattern>/servlet/ShowParameters_getParameterMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookie_Set</servlet-name>
    <servlet-class>Cookie_Set</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie_Set</servlet-name>
    <url-pattern>/servlet/Cookie_Set</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookie_Show</servlet-name>
    <servlet-class>Cookie_Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie_Show</servlet-name>
    <url-pattern>/servlet/Cookie_Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session_Cookie</servlet-name>
    <servlet-class>Session_Cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session_Cookie</servlet-name>
    <url-pattern>/servlet/Session_Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session_Counter</servlet-name>
    <servlet-class>Session_Counter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session_Counter</servlet-name>
    <url-pattern>/servlet/Session_Counter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContext_Counter</servlet-name>
    <servlet-class>ServletContext_Counter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext_Counter</servlet-name>
    <url-pattern>/servlet/ServletContext_Counter</url-pattern>
  </servlet-mapping>
</web-app>