@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/login_bg.gif);
	background-repeat: repeat;
	font-family: Verdana;
	font-size: 14px;
	color: #333;
	text-decoration: none;
}
ul li {
	list-style-type: none;
}

li {
	height : 30px;
}

#main_content {
	height: auto;
	width: 356px;
	border: 1px solid #CCC;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-image: url(../images/login_main_bg.gif);
	background-repeat: repeat;
}

#btn {
	background-image: url(../images/login_btn_bg.gif);
	background-repeat: repeat;
	width: auto;
	text-align: left;
	display: block;
}

#btn span{
	width: 80px;
	height: 30px;
	float: right;
	margin-right: 65px;
}
#user_passwd ul input {
	border: 1px solid #3CF;
}
