
.box { width:664px; height:auto; float:left; border:1px solid #dbdbdb;}
.box h2 { height:23px; padding:5px 10px 0 10px; font-size:14px; background:url(../images/box_tit_bg.gif) 0 0; border-bottom:1px solid #dbdbdb; color:#444; overflow:hidden;}
.box h2 span { display:block; height:25px; background:url(../images/icon.gif) 0 -3px no-repeat; padding-left:20px;}
.more { float:right; padding-left:13px; font-size:12px; font-weight:normal; color:#db8d3b; background:url(../images/icon.gif) 0 -46px no-repeat;}
.more:hover { color:#cb6d0a; background:url(../images/icon.gif) 0 -96px no-repeat;}
.box_con { height:auto; padding:15px 15px 15px 15px; overflow:hidden;}
.box_con ul { margin-top:10px;}
.box_con ul li { background:url(../images/icon.gif) 0 -300px no-repeat; padding-left:20px; line-height:1.8;}
.box_con ul li span { float:right; color:red;}

#selector1 { float:left; padding-top:8px;}
#selector2 { float:right; padding-top:8px;}